footer {
	background: url('../images/footer.jpg') no-repeat top center;
	color: #fff;
	min-height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
}

.footer-items {
	width: 100%;
	margin-top: 5em;
	padding: 0 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 30px;
	text-align: center;

	form {
		input {
			@include input;
			margin-bottom: 1em;
		}

		button {
			@include button;
			background-color: $primary-color;
			color: #fff;
		}
	}

	.footer.item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.social-icons {
		i {
			font-size: 1.12rem;
			margin: 0 0.5em;
		}
	}
}
