@import './variables';
@import './mixins';
@import './header';
@import './about';
@import './gallery';
@import './menu';

body {
	font-family: $secondayFont;
	font-size: 1rem;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

figure {
	margin: 0;
}

h1,
h3 {
	font-family: $primaryFont;
	font-weight: 800;
}
#coffee-build {
	padding-top: 2em;

	.title {
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: 2rem;
	}

	.grid {
		display: grid;
		grid-template-areas: 'left image right';
		padding: 4em;
	}

	.grid-left {
		grid-area: left;
	}

	.grid-center {
		grid-area: image;
	}

	.grid-right {
		grid-area: right;
	}

	.grid-item {
		display: flex;
		align-items: center;
		text-align: right;

		h3 {
			font-weight: 600;
			text-transform: uppercase;
		}

		img {
			max-width: 80px;
			width: 100%;
			height: 80px;
			margin: auto 1em;
		}
	}
}
